.lightBlue_bg{
    color: #E5F9FB;
}
.lightRed_bg{
    color: #F5D3CB ;
}
.lightYellow_bg{
    color: F8F493;
}
.lightGreen_bg{
    color:#E7F6AC ;
}
.lgihtBrown_bg{
    color: #F5EFD2;
}
.darkBlue_bgTx{
    color: #A7BED3;
}
.darkRed_bgTx{
    color: #8E3635;
}
.darkYellow_bgTx{
    color: #B0993B;
}
.darkGreen_bgTx{
    color:#80984A ;
}
.darkBrown_bgTx{
    color: #8D755B;
}
