.lightBlue_bg{
    background-color: #E5F9FB;
}
.lightRed_bg{
    background-color: #F5D3CB ;
}
.lightYellow_bg{
    background-color: F8F493;
}
.lightGreen_bg{
    background-color:#E7F6AC ;
}
.lgihtBrown_bg{
    background-color: #F5EFD2;
}
.darkBlue_bg{
    background-color: #A7BED3;
}
.darkRed_bg{
    background-color: #8E3635;
}
.darkYellow_bg{
    background-color: #B0993B;
}
.darkGreen_bg{
    background-color:#80984A ;
}
.darkBrown_bg{
    background-color: #8D755B;
}
.darkBlue_tx{
    color: #A7BED3;
}
.darkRed_tx{
    color: #8E3635;
}
.darkYellow_tx{
    color: #B0993B;
}
.darkGreen_tx{
    color:#80984A ;
}
.darkBrown_tx{
    color: #8D755B;
}
