.Main {
  &-blue {
    color: $primaryColor;
  }
  &-black {
    color: $mainBlack;
  }
  &-white {
    color: $mainWhite;
  }
}

.Sec {
  &-blue {
    color: $primaryColor;
  }
  &-black {
    color: $mainBlack;
  }
  &-white {
    color: $secWhite;
  }
  &-gray {
    color: $secGray;
  }
}
