//float class

.float {
  &-l {
    float: left;
    // display: block;
  }
  &-r {
    float: right;
    // display: block;
  }
  &-n {
    float: none;
  }
}

.clearFix::after {
  content: " ";
  display: table;
  clear: both;
}
