// loads FontAwesome
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

.centerGroup {
    margin: 0 auto;
}

.centerTextContent {
    text-align: center;
}

.width10p {
    width: 10%;
}

.width20p {
    width: 20%;
}

.width30p {
    width: 30%;
}

.width40p {
    width: 40%;
}

.width50p {
    width: 50%;
}

.width60p {
    width: 60%;
}

.width70p {
    width: 70%;
}

.width80p {
    width: 80%;
}

.width90p {
    width: 90%;
}

.width100p {
    width: 100%;
}

.col-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    &-embed{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    & :first-child {
    }
    &-embed{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    &-embed{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    &-embed{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

.col-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    &-embed{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }
}

.col-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    &-embed{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }
}

.uneven {
    display: grid;
    // grid-template-columns: 2fr 4fr;  // count of # of divs
    grid-template-rows: auto;
}