.ital {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
// .underline {
//   text-decoration: underline;
// }
// .strike {
//   text-decoration: line-through;
// }
.capit {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.low {
  text-transform: lowercase;
}

.code {
  font-family: Consolas, "courier new";
  padding: 2px;
  font-size: 105%;
}
.cite {
  font-style: italic;
  font-family: fantasy;
}

// .variables {
// }
