//default colors
$primaryColor: #a1a9fe;
$mainWhite: #ffffff;
$mainGrey: #ececec;
$mainBlack: #383838;

$body-font: $mainBlack;
$color-backgrounds: $mainGrey;

//default font
$font-main: "Dosis", Helvetica, sans-serif;

.primaryColor {
  color: $primaryColor;
}

.primDark {
  color: darken($primaryColor, $amount: 10%);
}
